.main
  .main__search
  = link_to search_reports_path do
    = image_tag 'icons8-ios-50.png'
  %br  

  .main__nav
    .main__nav__gray
    %ul#slidemenu
      %li
      =link_to "投稿", new_report_path
      %li
      =link_to "投稿一覧表示", reports_path

  %h2 BOOK-WORM


    
 

