.main
 .main__side
  .main__side__content
   %button#hamburgerbtn
    %span
    %span
    %span
   

  .main__side__nav
   #graylayer
    %ul#slidemenu
     %button#hamburgerbtn1
      %span
      %span
      %span
     %h3 menu 

     %li
      =link_to "Post", new_report_path
     %li
      =link_to "Post All", reports_path

     %h4 category

     %li
      =link_to "Book", root_path
     %li
      =link_to "Movie", root_path
     %li
      =link_to "WebSite", root_path
      

  .main__side__search
  = link_to search_reports_path do
   = image_tag 'icons8-ios-50.png',height: '30px',width:'30px',class:'main__side__search__logo'
    
  

  %h2 BOOK-WORM


    
 

