// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.header{
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  &__letter{
    font-size: 120%;
    margin-left: 50px;
    margin-top: 15px;
    h1{
      font-family: 'Liu Jian Mao Cao', cursive;
      font-size: 25px;
    }
  }
  a{
    color: white;
  }
  &__log{
    margin-right: 50px;
    margin-top: 15px;
    display: flex;
    &__left{
      
    }
    &__right{
      margin-left: 15px;
    }
    
  }
}
.main{
  background: #ebeae9;
  height: 100%;
}
  h2 {
    text-orientation:sideways;
    writing-mode:vertical-rl;
  }


.footer{
  background-color: black;
  color: white;
  height: 160px;
  font-size: 20px;
  text-align: center;
  a{
    color: white;
    font-size: 16px;
    font-family: 'Liu Jian Mao Cao', cursive;
  }
  &__contents{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    
    &__content1{
      margin-left: 300px;
    }
    &__content2{
      margin-right: 300px;
    }

  }
  h3{
    font-family: 'Pacifico', cursive;
  }
}